section.about-section
  .wrapper
    .about-section__inner

      h2.about-section__title.font-g-bold.font-s-44
        span.color-pink-1 Наша миссия — 
        |оторвать 
        br
        |ребенка от соцсетей

      .about-section__content
        .about-section__container
          .about-section__info.font-s-18
            div
              |«Студия хореографии РЕЛЕВЕ начала свое существование 
              br
              |осенью 2015 года. Первостепенное, чего мы хотели – забрать 
              br
              |детей с улицы, оторвать их от гаджетов, погрузить в 
              br
              |атмосферу дружбы, привить вкус личного общения. Эта 
              br
              |нелёгкая задача оказалась нам по силам!
            div
              |Интересные занятия, постановки, выезды на конкурсы, 
              br
              |выступления на городских мероприятиях, открытые уроки и 
              br
              |отчетные концерты: всё это помогало нам притягивать детей в  
              br
              |реальную жизнь.
            div
              |На сегодняшний день у нас три зала, в наших стенах 
              br
              |занимается 150 детей, трое из них выбрали своей профессией 
              br
              |хореографию.
            div
              |За эти годы мы прошли длинный путь неудач и ошибок и 
              br
              |теперь совершенно точно понимаем в чем наша сила. 
              br
              |Начинающим в этой сфере предпринимателям будет гораздо 
              br
              |легче открыть студию вместе с нами.
            div
              |Запуск бизнеса по франшизе позволяет сократить время от 
              br
              |вложений до выручки за счет внедрение уже отлаженных 
              br
              |бизнес процессов и сопровождения профессионалов.
            div
              |Если ты готов – мы всегда открыты к диалогу и рады ответить 
              br
              |на вопросы будущих партнеров»
          .about-section__leader-name
            span.font-g-bold Светлана Лукьянова, 
            |основатель сети 
            br
            |студий хореографии Релеве

        .about-section__photo
          img(src="images/photo-leader.jpg" loading="lazy" alt="photo" width="570" height="725").d-block

      .about-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            .feedback__title.font-s-36.font-g-bold.text-center
              |Есть вопросы?
            .feedback__description.color-grey-1.font-g-med.font-s-18ext-center
              |Задайте их напрямую!
            .feedback__list
              .feedback__item
                .input
                  input(type="text" name="name" placeholder="Имя").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
              .feedback__item
                .input
                  textarea(type="text" name="answer" placeholder="Текст вопроса").input__field.input__field--textarea
              .feedback__item
                .btn
                  button(type="submit")
                    span.btn__description Задать вопрос
