section.gallery-section
  .wrapper
    .gallery-section__inner
      h2.gallery-section__title.text-center.font-s-44
        |Начните сегодня и уже через 
        span.color-pink-1 46 дней 
        br
        |ваша студия примет первых учеников
      .gallery-section__swiper.swiper-gallery
        .gallery-section__swiper-wrapper.swiper-wrapper
          .gallery-section__swiper-slide.swiper-slide
            img(src="images/gallery-photo-1.jpg" loading="lazy" alt="photo" width="1116" height="668").d-block
          .gallery-section__swiper-slide.swiper-slide
            img(src="images/gallery-photo-1.jpg" loading="lazy" alt="photo" width="1116" height="668").d-block
          .gallery-section__swiper-slide.swiper-slide
            img(src="images/gallery-photo-1.jpg" loading="lazy" alt="photo" width="1116" height="668").d-block
        .gallery-section__swiper-control
          .gallery-section__swiper-prev.gallery-control.gallery-button-prev.tap-color
            svg(width='48' height='48' viewbox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg')
              circle(cx='24' cy='24' r='24' fill='#C93CA2')
              path(d='M27 17L20 24L27 31' stroke='white' stroke-width='3' stroke-linecap='round')
          .gallery-section__swiper-next.gallery-control.gallery-button-next.tap-color
            svg(width='48' height='48' viewbox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg')
              circle(cx='24' cy='24' r='24' transform='matrix(-1 0 0 1 48 0)' fill='#C93CA2')
              path(d='M21 17L28 24L21 31' stroke='white' stroke-width='3' stroke-linecap='round')
