section.support-section
  .wrapper
    .support-section__inner
      h2.support-section__title.font-s-44
        |Как мы поможем вам 
        span.color-pink-1 на старте?
      .support-section__cards.text-center.swiper-support
        .support-section__cards-image
          img(src="images/support-image.png" loading="lazy" alt="image" width="526" height="379").d-block
        .support-section__cards-list.swiper-wrapper
          .support-section__cards-item.swiper-slide
            .support-section__card
              .support-section__card-num.font-s-54
                div 1
              .support-section__card-description.font-g-med.font-s-18
                |Проведем 
                br
                |дистанционное 
                br
                |обучение 7-дневное 
                br
                |обучение
          .support-section__cards-item.swiper-slide
            .support-section__card
              .support-section__card-num.font-s-54
                div 2
              .support-section__card-description.font-g-med.font-s-18
                |Дадим 
                br
                |рекомендации 
                br
                |по подбору и работе 
                br
                |с персоналом
          .support-section__cards-item.swiper-slide
            .support-section__card
              .support-section__card-num.font-s-54
                div 3
              .support-section__card-description.font-g-med.font-s-18
                |Поможем 
                br
                |подобрать 
                br
                |подходящее 
                br
                |помещение 
          .support-section__cards-item.swiper-slide
            .support-section__card
              .support-section__card-num.font-s-54
                div 4
              .support-section__card-description.font-g-med.font-s-18
                |Предоставим 
                br
                |методические 
                br
                |пособия для работы 
                br
                |педагогов
          .support-section__cards-item.swiper-slide
            .support-section__card
              .support-section__card-num.font-s-54
                div 5
              .support-section__card-description.font-g-med.font-s-18
                |Разместим 
                br
                |информацию о вас 
                br
                |на нашем сайте
          .support-section__cards-item.swiper-slide
            .support-section__card
              .support-section__card-num.font-s-54
                div 6
              .support-section__card-description.font-g-med.font-s-18
                |Разместим 
                br
                |информацию о вас 
                br
                |на нашем сайте
          .support-section__cards-item.swiper-slide
            .support-section__card
              .support-section__card-num.font-s-54
                div 7
              .support-section__card-description.font-g-med.font-s-18
                |Добавим 
                br
                |в закрытое 
                br
                |сообщество 
                br
                |партнеров
        .support-section__cards-progress.support-pagination

      .support-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            .feedback__title.font-s-36.font-g-bold.text-center
              |Хотите узнать больше об условиях сотрудничества?
            .feedback__description.color-grey-1.font-g-med.font-s-18.text-center
              |Получите подробную презентацию франшизы
            .feedback__list
              .feedback__item
                .input
                  input(type="text" name="name" placeholder="Имя").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон").input__field
              .feedback__item
                .btn
                  button(type="submit")
                    span.btn__description Получить
