section.thanks-section
  .wrapper
    .thanks-section__inner
      h1.thanks-section__title.font-n-bold.font-s-48
        |НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
        br
        |ВАШЕЙ ЗАЯВКОЙ
      .thanks-section__title-helper
        |Мы свяжемся с&nbsp;Вами 
        br
        |в&nbsp;ближайшее время
      .thanks-section__btn
        .btn.btn--black
          a(href="index.html")
            span.btn__description
              |Вернуться на&nbsp;главную