.feedback
  &__title
    margin: 0 0 6px 0
    +above($breakpoints.sm)
      margin: 0 0 10px 0
    +above($breakpoints.md)
      margin: 0 0 14px 0
    +above($breakpoints.xxl)
      margin: 0 0 20px 0

  &__description
    margin: 0 0 10px 0
    +above($breakpoints.sm)
      margin: 0 0 13px 0
    +above($breakpoints.md)
      margin: 0 0 16px 0
    +above($breakpoints.xxl)
      margin: 0 0 23px 0

  &__list
    +above($breakpoints.sm)
      max-width: 492px
      display: flex
      align-items: center
      flex-wrap: wrap
      justify-content: space-between
      +above($breakpoints.md)
        max-width: 584px
      +above($breakpoints.xxl)
        max-width: 670px

  &__item
    width 100%
    max-width: 250px
    margin: 0 auto 10px auto
    +above($breakpoints.sm)
      max-width: 160px
      margin: 0
    +above($breakpoints.md)
      max-width: 190px
    +above($breakpoints.xxl)
      max-width: 218px

    &--textarea
      height: 120px
      +above($breakpoints.xxl)
        height: 140px
      .input
        &__field
          height: 100%
