.footer
  position: relative
  z-index 1
  font-size: 12px
  line-height: 120%
  +above($breakpoints.md)
    font-size: 13px
  +above($breakpoints.xxl)
    font-size: 14px

  &__row
    margin: 0 0 0 auto
    padding: 12px 0
    +above($breakpoints.sm)
      display: flex
      justify-content: space-between
      align-items: flex-end

  &__privacy
    text-decoration: underline
    display: block
    text-align: center
    +above($breakpoints.sm)
      text-align: left

  &__container
    display: flex
    align-items: flex-end
    margin: 0 0 14px 0
    +above($breakpoints.sm)
      margin: 0
  &__logo
    margin: 0 10px 0 0
    +above($breakpoints.md)
      margin: 0 18px 0 0
    +above($breakpoints.xxl)
      margin: 0 28px 0 0
    img
      width 82px
      height: auto
      +above($breakpoints.md)
        width 102px
      +above($breakpoints.xxl)
        width 110px
